{% extends super_template %}
{% load static %}
{% load i18n %}
{% load humanize %}


{% block content %}
    {% get_available_languages as LANGUAGES %}


    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <nav class="symbol-search-nav">
        <div class="nav-wrapper blue-grey darken-2">
            <form id="stock-search-input" method="GET" >
                <div class="input-field">
                <input name="search-string" id="search" type="search" autocomplete="off" placeholder="{% trans 'Search stocks by Name or Description' %}">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    <table class="centered highlight stock-symbol-table">
        <thead>
          <tr>
              <th>{% trans 'Symbol' %}</th>
              <th>{% trans 'Description' %}</th>
              <th>{% trans 'Last Sale Value' %}</th>
              <th>{% trans 'Market Cap' %}</th>
              <th>{% trans 'IPO Year' %}</th>
              <th>Nasdaq</th>
          </tr>
        </thead>

        <tbody>
            {% for stock in page %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>U$ {{ stock.last_sale|floatformat:2 }}</td>
                    <td>U$ {{ stock.market_cap|floatformat:2 }}</td>
                    <td>
                        {% if stock.ipo_year %}
                            {{ stock.ipo_year }}
                        {% else %}
                            -                            
                        {% endif %}
                    </td>
                    <td><a target="_blank" href="{{ stock.nasdaq_url }}">Link</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">
                        <p class="emtpy-table">{% trans 'No stocks matching your search.' %}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

      <div class="pagination-container">
        <ul class="pagination">
            {% if page.has_previous %}
                <li class=" waves-effect {% if not page.has_previous %} disabled {% endif %}"><a href="?page={{ page.previous_page_number }}&search-string={{ search_str }}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
                <li>{% trans 'Page' %} {{ current_page }} {% trans 'of' %} {{ page.paginator.num_pages }}</li>
            {% if page.has_next %} 
                <li class="waves-effect {% if not page.has_next %} disabled {% endif %}"><a href="?page={{ page.next_page_number }}&search-string={{ search_str }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="waves-effect disabled "><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
          </ul>
      </div>

    {% include "includes/loading.html" %}

    <script src="{% static 'js/stockList.js' %}"></script>


{% endblock %}
